
<div class="container comment-list">
     {{#if comments}} 
        {{#each comments}}
        <div class="card commentCard" style="width: 45rem;">
            <div class="card-header">
                {{this.User.username}}
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">{{this.Comment}}</li>
            <li class="list-group-item">{{this.createdAt}}</li>
            </ul>
        </div>
        
        
        {{/each }}
        {{else}}
                <p class="category-msg">No Comments</p>
        {{/if}}
    
            {{#if curPostId }}
   
            <a href="/gems/{{curPostId}}" class="btn btn-primary btn-outline-primary back-button">Back</a>
            {{/if}}
    

        </div>
        </div>

