
<ul id="gems-list" class="post-list">
    {{#each gems}}
    <li>{{this.title}}{{this.category}}{{this.address}}{{this.description}}
        <img   class="img_post" src="{{this.image}}"></li>
   {{/each}}
<ul>