<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../../public/assets/images/muralspace.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="carousel-cap">Share and Discover New Hip Spots</h5>
                
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../public/assets/images/muralTracks.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">

                <h5 class="carousel-cap">All Without Breaking the Bank</h5>
                

            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="../../public/assets/images/knightsLanding.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="carousel-cap">Find Your Hidden Gem!</h5>
                

            </div>
        </div>
    </div>
</div>
<div>
    
</div>

{{#if gems}}

<div class="container" id="">
    <div class="container text-center">
    <div class="msg">
        <p class="category-msg">{{msg}}</p>
    </div>
</div>
<div class="row text-center" id="card">
        {{#each gems}}

        <div class="col-xs-4 eachCard">
            <div class="card h-100" id="gem-card" style="width: 18rem;">
                <img class="card-img-top" src="{{this.image}}" alt="">
                <div class="card-body">

                    <h5 class="card-title text-left" id="gem-title">{{this.title}}</h5>
                    <p class="card-text text-left" id="gem-address">{{this.address}}</p>
                    <p class="card-text text-left" id="text">{{this.description}}</p>
                    {{!-- <p class="card-text text-left" id="gem-category">{{this.category}}</p> --}}
                    
                    <a href="/gems/{{this.id}}" class="btn btn-primary btn-outline-primary " id="more-info-btn">More Info</a>
                </div>
              <div class="row" id="likes-disklikes" style="
    width: 18rem;
    position: relative;
    left: 2.2rem;
    bottom: .75rem;">
                <form class="put_update">
                    <button class="btn btn-link like-btn" type="submit" data-id="{{this.id}}"><img class="img-responsive likedislike" id="like-logo"src="../../public/assets/images/like.png" alt="*" height="25" width="25"></button> <p class="count-lk">{{this.likes}}</p>
                </form>
            
                <form class="put_update">
                    <button class="btn btn-link dislike-btn" type="submit" data-id="{{this.id}}"><img class="img-responsive likedislike" id="like-logo"src="../../public/assets/images/dislike.png" alt="*" height="25" width="25" rotate="50%"></button> <p class="count-lk">{{this.dislikes}}</p>
                </form>
            </div>  

            </div>
            
        </div>
        {{/each}}

    </div>
</div>
{{else}}
<div class="container text-center">
    <p class="category-msg">Sorry, nothing found by your request...</p>
</div>
{{/if}}