<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <br>
      <!--below is dummy text-feel free to change-->
    <h1 class="display-4">Discover Gems</h1>
        <!--below is dummy text-it can be buttons or dropdown menu-->
    <p class="lead jumboText"><a href="/gems/all">All</a> | <a href="/gems/art">Art</a> |  <a href="/gems/outdoors">Outdoors</a> | <a href="/gems/events">Events</a> | <a href="/gems/others">Others</a></p>
  </div>
</div>
<div>
    <p class="message">{{title}}</p>
</div>

<div class="container">
    <div class="row text-center cardContainer" id="card">    
        {{#each gems}}
            <div class="col-xs-4 eachCard">     
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">{{this.description}}</p>
                        <p class="card-text">{{this.category}}</p>
                        <p class="card-text">{{this.address}}</p>
                        <a href="/gems/{{this.id}}" class="btn btn-primary btn-outline-primary">More Info</a>
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
</div>
 
 <br><br><br><br>
