
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../public/assets/images/muralspace.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
    <h5>Discover</h5>
    <p></p>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../public/assets/images/muralTracks.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
    <h5>Don't Break the Bank</h5>
    <p>...</p>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../public/assets/images/knightsLanding.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
    <h5>Find Your Hidden Gem!</h5>
    <p>...</p>
  </div>
    </div>
  </div>
</div>
<div>
    <p class="message">{{title}}</p>
</div>

<div class="container" id="">
    <div class="row text-center cardContainer" id="card">    
        {{#each gems}}
            <div class="col-xs-4 eachCard">     
                <div class="card" style="width: 18rem;">
                    {{!-- <img class="card-img-top" src="{{this.image}}" alt=""> --}}
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">{{this.description}}</p>
                        <p class="card-text">{{this.category}}</p>
                        <p class="card-text">{{this.address}}</p>
                        <a href="/gems/{{this.id}}" class="btn btn-primary btn-outline-primary" id="more-info">More Info</a>
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
</div>