
<div class="container ">
    <div class="row justify-content-center align-items-center text-center">
        <div class="card" id="more-info-card" style="width: 55rem;">

            <img class="card-img-top" src="{{gem.image}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{gem.title}}</h5>
                <p class="card-text">{{gem.description}}</p>
                <p class="card-text">
                    <spam>Address:</spam> {{gem.address}}</p>
                <p class="card-text">
                    <spam>Author:</spam> {{gem.User.username}}</p>
            </div>
            {{#if user.owner}}
            <form id="post_delete">
                <button class="btn btn-xs btn-danger deleteButton" type="submit" data-id="{{gem.id}}">DELETE</button>
            </form>
            {{/if}} {{#if user}}
            
            <form action="/gems/comments/{{gem.id}}/add" method="POST">
                <div class="form-group">
                    <p>Add Comment:
                        <p>
                            <input class="form-control" type="text" name="comment" palseholder="text">
                </div>
                <button id="login-btn" type="submit" class="btn btn-outline-primary">Submit!</button>
            </form>
            <button type="submit" class="btn btn-link" id="like-btn" data-id="{{gem.id}}">
                <span class="like">Like
                </span>
                <form action="/gems/comments/{{gem.id}}/all" method="GET">
                    <button class="btn btn-outline-primary " type="submit" data-id="{{gem.id}}">See Comments</button>
                </form>
            
                <span class="count">{{gem.likes}}</span>
            </button>
            
            <button type="submit" class="btn btn-link" id="dislike-btn" data-id="{{gem.id}}">
                <span class="dislike">Dislike</span>
                <span class="like">
            
                </span>
                <span class="count">{{gem.dislikes}}</span>
            </button>
            {{/if}}
            

        </div>
   </div>
</div>